.modal-btn {
    width: calc(50% - 5px);
    padding: 10px;
    cursor: pointer;
}

.secondary-btn {
    border: 0;
    margin-right: 5px;
    background-color: transparent;
    color: #B2B2B2;
}

.primary-btn {
    font-size: 15px;
    border: 0;
    background-color: #639605;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

.modal-title {
    margin-top: 0;
}

.disabled-btn {
    background-color: #9fb07f;
}