.task-item {
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.task-content {
    flex: 1;
}

.task-delete {
     border: 0;
     background-color: transparent;
}

.task-delete-icon {
    font-size: 20px;
    color: #B2B2B2;
    margin-left: 5px;
} 

.task-content h5 {
    font-size: 16px;
    color: #333333;
    margin: 0;
    margin-top: 5px;
}

.task-content p {
    font-size: 12px;
    color: #777777;
    margin-bottom: 0;
}